<footer class="pt-5 pb-4" style="background-color: #dbdbdb; color: black;">
  <div class="container text-md-left">
    <div class="row text-md-left">
      
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #000000;" data-i18n="agritech_title">Agritech</h5>
        <p data-i18n="agritech_description">
          Agritech is a next-generation farming platform designed to help farmers grow more with less effort. Combining cutting-edge artificial intelligence, real-time IoT monitoring, and easy-to-use tools, our full-stack web application provides powerful solutions for modern agriculture.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #000000;" data-i18n="livestock_title">Livestock</h5>
        <p><a href="/stock-identification" style="color: black; text-decoration: none;" data-i18n="livestock_id">Livestock Identification</a></p>
        <p><a href="/milk-calculator" style="color: black; text-decoration: none;" data-i18n="milk_calc">Milk Calculator</a></p>
        <p><a href="/animal-disease-detection" style="color: black; text-decoration: none;" data-i18n="disease_detect_animal">Disease Detection</a></p>
        <p><a href="/livestock-chat" style="color: black; text-decoration: none;" data-i18n="livestock_chat">Chatbot</a></p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #000000;" data-i18n="crops_title">Crops</h5>
        <p><a href="/plant-disease-identify" style="color: black; text-decoration: none;" data-i18n="disease_detect_plant">Disease Detection</a></p>
        <p><a href="/buy-crops" style="color: black; text-decoration: none;" data-i18n="buy_crops">Buy Crops</a></p>
        <p><a href="/smart-farming" style="color: black; text-decoration: none;" data-i18n="smart_farming">Smart Farming</a></p>
        <p><a href="/crops-chat" style="color: black; text-decoration: none;" data-i18n="crops_chat">Chatbot</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #000000;" data-i18n="contact_title">Contact</h5>
        <p><i class="fas fa-home mr-3"></i> <span data-i18n="address">123 Main St, City, Country</span></p>
        <p><i class="fas fa-envelope mr-3"></i> <span data-i18n="email">info@yourbrand.com</span></p>
        <p><i class="fas fa-phone mr-3"></i> <span data-i18n="phone">+1 234 567 890</span></p>
        <p><i class="fas fa-print mr-3"></i> <span data-i18n="fax">+1 234 567 891</span></p>
      </div>
    </div>

    <hr class="mb-4" style="background-color: #aaa;">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p data-i18n="copyright">© 2025 Agritech. All Rights Reserved.</p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" style="color: black; font-size: 23px;"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" style="color: black; font-size: 23px;"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" style="color: black; font-size: 23px;"><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" style="color: black; font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" style="color: black; font-size: 23px;"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

